* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-background-light,
.header-background-dark {
  background: url(./assets/bg-mobile-light.jpg);
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: normal;
  opacity: 0.85;
}
.header-background-dark {
  background: url(./assets/bg-mobile-dark.jpg);
}
.header-content {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  padding: 32px 25px 0 25px;
  align-items: center;
}
.header-content .theme-change-image {
  width: 20px;
  height: 20px;
}
.theme-change-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.todo-list-container {
  background: #f2f2f2;
  height: 71.5vh;
}
.todo-heading-text {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 15px;
  color: #ffffff;
}

.text-field,
.text-field-dark {
  padding: 0 25px;
  position: absolute;
  width: 100%;
  top: 6.5rem;
}
.text-field-dark .MuiOutlinedInput-root {
  box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
  height: 48px;
  border-radius: 5px;
}
.text-field .MuiOutlinedInput-root {
  height: 48px;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  border-radius: 5px;
}
.todo-list {
  position: relative;
  width: 100%;
  min-height: 368px;
  max-height: 368px;
  overflow-y: auto;
  background: #ffffff;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  border-radius: 5px;
  z-index: 12;
  margin-top: 18px;
}
.todo-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  padding-left: 14px;
  border-bottom: 1px solid #e3e4f1;
}
.todo-list-item-detail {
  display: flex;
  align-items: center;
  gap: 12px;
}
.cross-icon {
  width: 12px;
  height: 12px;
}
.cross-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list-status {
  position: relative;
  display: flex;
  padding: 16px 20px;
  justify-content: space-between;
  background: #ffffff;
  z-index: 15;
  border-top: 1px solid #e3e4f1;
}
.todo-status-indicator {
  width: 100%;
  height: 48px;
  background: #ffffff;
  box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  border-radius: 5px;
  padding: 16px 24px;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  gap: 18px;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .header-background-light,
  .header-background-dark {
    background: url(./assets/bg-desktop-light.jpg);
  }
  .header-background-dark {
    background: url(./assets/bg-desktop-dark.jpg);
  }
  .header-content {
    width: 84%;
    margin: auto;
  }
  .text-field,
  .text-field-dark {
    width: 84%;
    left: 50%;
    transform: translateX(-50%);
  }
  .drag {
    position: relative;
    top: auto !important;
    left: auto !important;
  }
}

@media screen and (min-width: 769px) {
  .header-background-light,
  .header-background-dark {
    background: url(./assets/bg-desktop-light.jpg);
    height: 224.5px;
  }
  .header-background-dark {
    background: url(./assets/bg-desktop-dark.jpg);
  }
  .header-content {
    width: 40%;
    margin: auto;
  }
  .text-field,
  .text-field-dark {
    width: 40%;
    left: 50%;
    transform: translateX(-50%);
  }
  .drag {
    position: relative;
    top: auto !important;
    left: auto !important;
  }
}
